@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap");
:root {
  --sidebar-flex: 1.2;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway";
}
.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
nav {
  padding: 60px 30px 0px 30px;
  flex: var(--sidebar-flex);
  background: rgb(238, 103, 143);
  background: linear-gradient(
    180deg,
    rgba(238, 103, 143, 1) 50%,
    rgba(132, 124, 252, 1) 80%
  );
}
.condiv {
  padding: 60px;
  background-color: #f4f5f9;
  flex: var(--condiv-flex);
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.profilepic {
  border-radius: 5%;
  width: 250px;
  margin: 20px;
}
.typingeffect {
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li {
  margin: 40px;
}

a {
  text-decoration: none;
  color: white;
}
.nones {
  margin: 15px 100px;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
  padding: 10px;
}

.nones:hover {
  color: white;
  background: black;
}

.subtopic {
  margin: 10px 10px 30px 10px !important;
}

.subtopics {
  margin: 10px 15px 15px 0px !important;
  text-align: center;
}
p {
  font-size: var(--fontsize-p);
}
h1,
h2,
h3,
h4,
p {
  margin: 10px;
}
.social {
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}
.social i {
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}
.social i:hover {
  color: #ffffff;
}
.widecard {
  border: 0px solid #9a9b9c;
  display: flex;
  margin: 30px 0px 30px 0px;
}
.widecard:hover {
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.active {
  font-weight: bolder;
}
.skills ul li {
  list-style-type: none;
  margin: 25px;
}

@media all and (max-width: 450px) {
  :root {
    --fontsize-nav: 1rem;
    --sidebar-flex: 0;
    --typing-font: 2rem;
  }
  .App {
    flex-direction: column;
  }
  .sidebar {
    padding: 30px;
    background: rgb(238, 103, 143);
    background: linear-gradient(
      90deg,
      rgba(238, 103, 143, 1) 50%,
      rgba(132, 124, 252, 1) 80%
    );
  }
  .condiv {
    padding: 50px;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    margin: 10px;
  }
  .social {
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }
  .social i {
    padding-right: 0px;
  }
}

.projectContainer {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.item1,
.item2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 15px;
  border: 1px solid black;

  flex: 1;
}

.imageContainer {
  flex: 70;
  overflow: hidden;
}
.contentContainer {
  flex: 30;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.background-image {
  width: 100%;
  height: 100%;
  /* background-position: center;
  background-size: cover; */
  background: no-repeat center center/cover;
}

.imageContainer:hover {
  cursor: pointer;
}
.imageContainer:hover .background-image {
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.projectHeading {
  margin: 20px 10px 10px 10px;
  text-align: center;
}

.proj {
  display: flex;
  flex-direction: column;
}

.listStyle {
  list-style: none;
}

.listItem {
  padding: 0.75em 2em;
}
